@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

footer {
    background-color: #006eb6;
}

.real-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.left-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.right-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.footer-logo img {
    height: 50px;
    width: 200px;
}

a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-decoration: none; 
    color: black;
}