footer {
    background-color: #B3B3B3;
}

.real-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

.left-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.right-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.footer-logo img {
    height: 50px;
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
}