@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
} */

.category_footer h2 {
    font-size: 15px;
    display: flex;
    justify-content: center;
}

banner img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 25%;
} 

.test {
    font-family: "Open Sans", sans-serif;
    width: 360px;
    font-size: 30px;
    text-align: center;
}

.text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
}

.relative {
    position: relative;
    width: 33%;
    height: 100%;
    bottom: 350px;
    left: 175px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cate-title {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    margin-bottom: 50px;
}

.box img {
    width: 200px;
    height: 130px;

}

.box {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cate {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.category_footer {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.join{
    background-color: #9b0a0a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;}
}