.allbody{
    background-color:#d9d9d9 
}

.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px 0;
  }

  .first-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70%;
    margin-bottom: 20px;
  }

  .other-posts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: white;
    margin: 10px 0
  }

    .first-post .user-info{
        display: flex;
        align-items: start;
        margin-bottom: 20px;
        justify-content: space-between;
        margin: 0;
        
    }

    .first-post .post-content{
        display: flex;
    }

    .infopost{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

    .infopost .user-role{
        margin: 0;
        color:rgb(102 102 102);
        font-size: 10px;
    }

    .infopost .username{
        margin: 0;
    }

    .post-content .first-text{
       font-size: 25px;
       margin: 0;
       margin-left: 30px;
    }

    .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    }

    .post{
        width: 100%;
        height: auto;
    }

    .other-posts .user-info{
        display: flex;
        margin-bottom: 20px;
        width: 100%;      
        justify-content: space-between; 
        margin: 0;
    }

    .other-posts .post-content{
        display: flex;
    }

    .comment{
        display: flex;
        flex-direction: column;
        width: 1200px; 
        overflow: auto;
    }

   .other-posts .post-text{
    margin: 0;
    margin-left: 30px;
    font-size: 0.8em;
   }

   .post{   padding: 20px;
    text-align: center;}

   .separator{
    width: 90%; 
    margin: 20px auto; 
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
   }

   .container{
    margin-bottom: 10px;
    margin-top: 10px;
   }

    .post-comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 40vh;
    margin-bottom: 20px;
    }

    .comment-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .comment-button{
        margin-right: 10px;
        border: #000000 1px solid;
        border-radius: 5px;
        background-color: #000;
        color: #d9d9d9;
        display: flex;
        padding: 8px   16px;
        font-size: 16px;
        align-items: center;
        transition: 0.1s;
        gap: 5px;
    }

    .comment-textarea{
        border-radius: 10px 0 10px 0;
        width: 832px;
        height: 93px;
        margin: 0;

    }
    
    .comment-form h2{
        margin: 0;
    }

    .post-date{
        margin-right: 10px;
        font-size: 0.8em;
        color: #999;
    }

    .username{
        font-weight: bold;
        color: #0073e6;
    }

    
   

