.main_ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(/public/img/bg7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sub_ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 2px solid yellow;
    border-radius: 50px;
    width: 30%;
    height: 65%;
   background-color: yellow;
}

.formulaire ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire ul li {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.formulaire ul li label {
    display: block;
}

.formulaire ul li input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#logo {
   width: 75%;
}

#arrow {
    height: 50%;
}

.logo_ctn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.a_arrow {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    transition: all 0.3s ease;
}

.a_arrow:hover {
    transform: scale(1.1 );
}

.redirect_ctn {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
}

