body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.all-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:#d9d9d9 ;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

header h1 {
    margin: 0;
    color: #333;
}

header p {
    color: #666;
}

.main {
    padding: 20px;
}

.topic {
    margin-top: 20px;
    width: 75%;
}

.post-link {
    text-decoration: none;
    color: inherit;
}

.post {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    transition: background-color 0.3s ease;
    width: 98%;
}

.post:hover {
    background-color: #f0f0f0;
}

.user-info {
    width: 20%;
    text-align: center;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.user-info p {
    margin: 5px 0;
}

.username {
    font-weight: bold;
    color: #0073e6;
}

.user-role {
    font-size: 0.9em;
    color: #777;
}

.post-content {
    width: 80%;
    padding-left: 10px;
}

.post-date {
    font-size: 0.8em;
    color: #999;
}

.post-text {
    margin-top: 10px;
    color: #333;
}


.title-topic {
    font-size: 1.5em;
    color: #0073e6;
    margin-bottom: 20px;
}

.sub_ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.bg_ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 75%;
    background-color: white;
    margin: 10px 0;
}

.size_sub {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat_tri {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.categories {
    border-right: 1px solid #ccc;

}

.cat_text {
    font-size: 15px;
    margin : 5px 20px 5px 0;
}

.create_btn {
    background-color: #000;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
}

.label1 {
    font-size: 15px;
    color: rgb(102, 102, 102);
}