<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/public/css/connexion.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
    <div class="main_ctn">
        <div class="sub_ctn">
            <div class="image_ctn">
                <img id="side_img" src="public/img/spidermanfanart.jpg" alt="">
            </div>
            <div class="connexion_ctn">
               
                <div class="text">
                    <h1>Sign in</h1>
y                </div>
                <div class="formulaire">
                    <form action="/login" method="post" id="loginForm">
                        <ul>
                            <li>
                                <label for="username"></label>
                                <input type="text" name="username" id="username" placeholder="Username" required>
                            </li>
                            <li>
                                <label for="password"></label>
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </li>
                            <li>
                                <input type="submit" value="Sign in">
                            </li>
                        </ul>
                    </form>
                    <p id="message"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/connexion.js"></script>
</body>
</html>
