<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
        <link rel="stylesheet" href="/public/css/header.css">
        <link rel="stylesheet" href="/public/css/create_topics.css">
        <link rel="stylesheet" href="/public/css/footer.css">
    </head>

<body>
    <header class="index-head">
        <div class="header-logo">
            <div class="logo-index">
                <a href="/"><img src="/public/img/logo_transparent.png" alt="logo brickodepot"></a>
            </div>
            <div class="nav">
                <a href="">Forum</a>
                <div class="dropdown">
                    <a href="#" id="categoriesLink">Catégories <img id="flechebas" src="public/img/flechebas.png" alt=""></a>
                    <div class="dropdown-content">
                        <a href="topics?id=3">Lego Spiderman</a>
                        <a href="topics?id=4">Lego City</a>
                        <a href="topics?id=2">Lego Technic</a>
                        <a href="topics?id=1">Lego Star Wars</a>
                        <a href="topics?id=5">Lego Marvel</a>
                    </div>
                </div>
                <a href="/about">About us</a>
                <a href="">Contacts</a>
            </div>
        </div>
        </div>
    </header>
    <div class="center-container">
        <div class="create-container">
            <h2>Create Topics</h2>
            <form>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" name="category" required>
                        <option value="">Choose a category</option>
                        <option value="lego_technic">Lego Technic</option>
                        <option value="lego_superhero">Lego SuperHero</option>
                        <option value="lego_city">Lego City</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" id="create-btn">Create</button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="real-footer">
            <p class="footer_text">© 2077 All hand made I swear</p>
            <div class="socials">
                <img src="public/img/facebook.png" alt="">
                <img src="public/img/twitter.png" alt="">
                <img src="public/img/youtube.png" alt="">
            </div>

        </div>
    </footer>
    <script src="public/js/index.js"></script>
    <script src="/public/js/header.js"></script>

</body>

</html>