<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
        <link rel="stylesheet" href="/public/css/header.css">
        <link rel="stylesheet" href="/public/css/index.css">
        <link rel="stylesheet" href="/public/css/footer.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>
<body>
    <header class="index-head">
        <div class="header-logo">
            <div class="logo-index">
                <a href=""><img src="/public/img/logo_transparent.png" alt="logo brickodepot"></a>
            </div>
            <div class="nav">
                <a href="">Forum</a>
                <a href="">Catégories <img id="flechebas" src="public/img/flechebas.png" alt=""></a>
                <a href="">About us</a>
                <a href="">Contacts</a>
            </div>
            <div class="information">
                <div class="connexion">
                    <a id="sign_in" href="/login">Sign in</a>
                    <a id="sign_up" href="/sign_up">Sign up
                        <img id="flèche" src="public/img/flèche.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="all-body">
        <img id="banniere1" src="public/img/banniere2.png" alt="">
        <div class="main_ctn">
            <div class="categories_ctn">
                <div class="category_box">
                    <div class="cat_img">
                    <img class="box_img" src="public/img/lego_spiderman.png" alt="">
                </div>
                    <div class="categori_explain">
                        <h2>Lego Spiderman</h2>
                        <p class="icon_span"><img class="icon_img1" src="public/img/oeil.png" alt=""><img class="icon_img" src="public/img/message.png" alt="">3</p>
                        <p class="para_category">Welcome to the LEGO Spider-Man Fans forum! Discuss everything related to LEGO Spider-Man sets, share your custom builds, get the latest news, and connect with fellow enthusiasts. Whether you're a seasoned builder or a newcomer, join us to celebrate the exciting world of LEGO Spider-Man!</p>
                    </div>
                </div>
                <div class="category_box">
                    <div class="cat_img">
                    <img class="box_img" src="public/img/lego_city.png" alt="">
                </div>
                    <div class="categori_explain">
                        <h2>Lego City</h2>
                        <p class="icon_span"><img class="icon_img1" src="public/img/oeil.png" alt=""><img class="icon_img" src="public/img/message.png" alt="">3</p>
                        <p class="para_category">Welcome to the LEGO City Fans forum! Dive into discussions about LEGO City sets, share your custom creations, stay updated on new releases, and connect with other fans. Whether you're building bustling cityscapes or exploring new themes, join us to celebrate the dynamic world of LEGO City!</p>
                    </div>
                </div>
                <div class="category_box">
                    <div class="cat_img">
                    <img class="box_img" src="public/img/lego_technic.png" alt="">
                </div>
                    <div class="categori_explain">
                        <h2>Lego Technic</h2>
                        <p class="icon_span"><img class="icon_img1" src="public/img/oeil.png" alt=""><img class="icon_img" src="public/img/message.png" alt="">3</p>
                        <p class="para_category">Welcome to the LEGO Technic Enthusiasts forum! Discuss everything about LEGO Technic sets, share your engineering marvels, get the latest news, and connect with other builders. Whether you're into intricate machinery or innovative designs, join us to explore the advanced world of LEGO Technic!</p>
                    </div>
                </div>
                <div class="category_box">
                    <div class="cat_img">
                    <img class="box_img" src="public/img/lego_marvel.png" alt="">
                </div>
                    <div class="categori_explain">
                        <h2>Lego Technic</h2>
                        <p class="icon_span"><img class="icon_img1" src="public/img/oeil.png" alt=""><img class="icon_img" src="public/img/message.png" alt="">3</p>
                        <p class="para_category">Welcome to the LEGO Marvel Enthusiasts forum! Dive into discussions about all things LEGO Marvel, showcase your incredible builds, stay updated with the latest news, and connect with fellow fans. Whether you’re passionate about legendary heroes or epic storylines, join us to explore the exciting universe of LEGO Marvel!</p> 
                      </div>
                </div>
            </div>
            <div class="latest_posts_ctn">
                <p>New post<p>
                <div class="all_boxes">
                    <div class="inside_box">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="real-footer">
        <p class="footer_text">© 2077 All hand made I swear</p>
        <div class="socials">
            <img src="public/img/facebook.png" alt="">
            <img src="public/img/twitter.png" alt="">
            <img src="public/img/youtube.png" alt="">
        </div>

    </div>
</footer>
<script src="public/js/index.js"></script>
</body>

</html>