<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
        <link rel="stylesheet" href="/public/css/header.css">
        <link rel="stylesheet" href="/public/css/index.css">
    </head>

<body>
    <header class="index-head">
        <div class="header-logo">
            <div class="logo-index">
                <a href=""><img src="/public/img/logo_transparent.png" alt="logo brickodepot"></a>
            </div>
            <div class="information">
                <a href="/login">Connection</a>
            </div>
        </div>
        <div class="category">
            <h1 href=""> Lego Super Hero</h1>
            <h1 href="">Lego Technic</h1>
            <h1 href="">Lego City</h1>
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </header>
    <div class="all-body">
        <div class="video">
            <video src="/public/img/video-lego.mp4" autoplay loop muted></video>
            <div class="relative">
                <h2 class="test">Come talk about your favorite Legos with our members!</h2>
                <div class="center">
                    <button class="text">Go!</button>
                </div>
            </div>
        </div>
        <div class="cate">
            <div class="cate-title">
                <h2>Our categories</h2>
            </div>
            <div class="cate1">
                <div class="box1">
                        <img src="/public/img/legothec.jpg" alt="lego technic">
                        <h2>Lego Technic</h2>
                        <button>Join</button>
                </div>
            </div>
        </div>

    </div>
    </div>
</body>

</html>
