<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accueil</title>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
        <link rel="stylesheet" href="/public/css/inscription.css">
    </head>

<body>
    <div class="main_ctn">
        <div class="sub_ctn">
            <div class="inscription_ctn">
                <div class="redirect">
                    <a id="redirect" href="/login">Sign in <img id="fleche" src="public/img/flèche.png" alt=""></a>
                </div>
                <h1>Sign up</h1>
                <div class="formulaire">
                    <form id="inscription">
                        <ul>
                            <li>
                                <label for="username"></label>
                                <input type="text" name="username" id="username" placeholder="Username" required>
                            </li>
                            <li>
                                <label for="email"></label>
                                <input type="email" name="email" id="email" placeholder="Email" required>
                            </li>
                            <li>
                                <label for="password"></label>
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </li>
                            <li>
                                <input type="submit" value="Sign up ">
                                
                            </li>
                        </ul>
                    </form>
                 
                </div>
                <p id="error-message"></p>
               
            </div>
            <div class="image_ctn">
                <img id="side_img" src="public/img/batman_superman.png" alt="">
            </div>
        </div>
    </div>

<script src="./public/js/inscription.js"></script>

</body>

</html>