<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/posts.css">
    <link rel="stylesheet" href="/public/css/footer.css">
</head>

<body>
    <header class="index-head">
        <div class="header-logo">
            <div class="logo-index">
                <a href="/"><img src="/public/img/logo_transparent.png" alt="logo brickodepot"></a>
            </div>
            <div class="nav">
                <a href="">Forum</a>
                <div class="dropdown">
                    <a href="#" id="categoriesLink">Catégories <img id="flechebas" src="public/img/flechebas.png"
                            alt=""></a>
                    <div class="dropdown-content">
                        <a href="topics?id=3">Lego Spiderman</a>
                        <a href="topics?id=4">Lego City</a>
                        <a href="topics?id=2">Lego Technic</a>
                        <a href="topics?id=1">Lego Star Wars</a>
                        <a href="topics?id=5">Lego Marvel</a>
                    </div>
                </div>
                <a href="/about">About us</a>
                <a href="">Contacts</a>
            </div>
            <div class="information">
                <div class="connexion">
                    <a id="sign_in" href="/login">Sign in</a>
                    <a id="sign_up" href="/register">Sign up
                        <img id="flèche" src="public/img/flèche.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="allbody">
        </header>
        <div id="postsContainer" class="container">
        </div>
        <div class="post-comment" id="post-comment">
            <div class="comment-form">
                <h2>Comments</h2>
                <textarea class="comment-textarea" placeholder="Write a comment..."></textarea>
                <button class="comment-button">Comment</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="real-footer">
            <p class="footer_text">© 2077 All hand made I swear</p>
            <div class="socials">
                <img src="public/img/facebook.png" alt="">
                <img src="public/img/twitter.png" alt="">
                <img src="public/img/youtube.png" alt="">
            </div>
        </div>
    </footer>
    <script src="/public/js/posts.js"></script>
    <script src="/public/js/header.js"></script>
    <script src="/public/js/post+.js"></script>

</body>

</html>