<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/posts.css"> <!-- Créez ou ajustez le CSS selon vos besoins -->
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>
    <header class="index-head">
        <!-- Votre en-tête ici -->
    </header>

    <div class="all-body">
        <div id="postsContainer" class="post-container">
            <!-- Posts du topic sélectionné seront ajoutés ici -->
        </div>
    </div>

    <footer>
        <!-- Votre pied de page ici -->
    </footer>

    <script src="/public/js/posts.js"></script>
</body>
</html>