<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/posts.css">
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>
    <header class="index-head">
        <div class="header-logo">
            <div class="logo-index">
                <a href=""><img src="/public/img/logo_transparent.png" alt="logo brickodepot"></a>
            </div>
            <div class="nav">
                <a href="">Forum</a>
                <a href="">Catégories <img id="flechebas" src="public/img/flechebas.png" alt=""></a>
                <a href="">About us</a>
                <a href="">Contacts</a>
            </div>
            <div class="information">
                <div class="connexion">
                    <a id="sign_in" href="/sign_in">Sign in</a>
                    <a id="sign_up" href="/sign_up">Sign up
                        <img id="flèche" src="public/img/flèche.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </header>
       <h1>Posts</h1>
    </header>
    <div id="postsContainer" class="container">
    </div>
    <footer>
        <div class="real-footer">
            <div class="left-info">
                <a href="/legal">Legal mentions</a>
                <a href="/about">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logo_transparent.png" alt="">
            </div>
            <div class="right-info">
                <a href="/profile">Profile</a>
    </footer>
    <script src="/public/js/posts.js"></script>
</body>
</html>