<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
        <link rel="stylesheet" href="/public/css/header.css">
        <link rel="stylesheet" href="/public/css/profile.css">
        <link rel="stylesheet" href="/public/css/footer.css">
    </head>

<body>
    <header class="index-head">
        <div class="header-logo">
            <div class="logo-index">
                <a href=""><img src="/public/img/logo_transparent.png" alt="logo brickodepot"></a>
            </div>
            <div class="information">
                <a href="/login">Connection</a>
            </div>
        </div>
        <div class="category">
            <h1 href=""> Lego Super Hero</h1>
            <h1 href="">Lego Technic</h1>
            <h1 href="">Lego City</h1>
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </header>
    <h1>Your profile</h1>
    <div class="allbox">
        <div class="box1">
            <div class="img-profile">
                <img src="" alt="image de profil">
            </div>
            <div class="info">
                <h2>Username</h2>
                <p>email</p>
            </div>
        </div>
        <div class="box2">
            <div class="lastco_nbtopic">
                <h2>lastco</h2>
                <h2>nbtopic</h2>
                <h2>role</h2>
            </div>
            <div class="allbio">
                <h2>biographie</h2>
                <div class="bio-container">
                    <p id="bio-text">Ceci est la biographie de l'utilisateur.</p>
                    <textarea id="bio-input" class="hidden"></textarea>
                </div>
                <button id="edit-button">Edit Bio</button>
                <button id="save-button" class="hidden">Save</button>
            </div>
        </div>
    </div>
    </div>




    <footer>
        <div class="real-footer">
            <div class="left-info">
                <a href="">Legal mention</a>
                <a href="">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logo_transparent.png" alt="">
            </div>
            <div class="right-info">
                <a href="">profile</a>
                <a href="">my fav</a>
    </footer>
    <script src="/public/js/profile.js"></script>
</body>

</html>
