<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/topics.css">
    <link rel="stylesheet" href="/public/css/footer.css">
</head>

<body>
    <header class="index-head">
        <div class="header-logo">
            <div class="logo-index">
                <a href="/"><img src="/public/img/logo_transparent.png" alt="logo brickodepot"></a>
            </div>
            <div class="information">
                <a href="/login">Connection</a>
            </div>
        </div>
        <div class="category">
            <h1 href="">Lego Super Hero</h1>
            <h1 href="">Lego Technic</h1>
            <h1 href="">Lego City</h1>
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </header>

    <div class="all-body">
        <div class="topic" id="topicsContainer">
            <!-- Topics will be dynamically inserted here -->
        </div>
    </div>

    <footer>
        <div class="real-footer">
            <div class="left-info">
                <a href="">Legal mention</a>
                <a href="">About us</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logo_transparent.png" alt="">
            </div>
            <div class="right-info">
                <a href="">Profile</a>
                <a href="">My fav</a>
            </div>
        </div>
    </footer>
    <script src="/public/js/topics.js"></script>
</body>
</html>